@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --bg-image-light: url("/mojave-day.jpg");
  --bg-image-dark: url("/mojave-night.jpg");
}

@layer base {
  :root {
    --bg-image: var(--bg-image-light);
  }
  .dark {
    --bg-image: var(--bg-image-dark);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  font-size: 13px;
}

.glass-filter {
  backdrop-filter: blur(3px);
  filter: url(#lensFilter) brightness(1.1);
}
