@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --bg-image-light: url("/mojave-day.jpg");
  --bg-image-dark: url("/mojave-night.jpg");
}

@layer base {
  :root {
    --bg-image: var(--bg-image-light);
  }
  .dark {
    --bg-image: var(--bg-image-dark);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

button {
  font-size: 13px;
  cursor: crosshair;
}

.backdrop {
  backdrop-filter: blur(8px);
}

.border-glass {
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 0 2px rgba(255, 255, 255, 0.2);
}

* {
  outline: 0px solid red;
}
